@import url("https://fonts.googleapis.com/css?family=Newsreader:800italic,800|Poppins:500");

#root {
  width: 100%;
  text-align: center;
}

.screen a{
  display: contents;
  text-decoration: none;
}
